{% extends 'finance/base.html' %}

{% block meta_title %} Список валют {% endblock meta_title %}
{% block title_page %} Список валют {% endblock title_page %}

{% block content %} 
{% if object_list %}
<table>
  <thead>
	<tr>
	  <td>&#35;</td>
	  <td>Назва</td>
	  <td>Повна назва</td>
	</tr>
  </thead>
	  
  <tbody>
  {% for currency in object_list %}
	<tr>
	  <td>{{ forloop.counter}}</td>
	  <td>{{ currency.name }}</td>
	  <td>{{ currency.full_name }}</td>
	</tr>
  {% endfor %}
  </tbody>
	
</table>
{% else %}
  <p>Валют не знайдено.</p>
{% endif %}

{% endblock content %}