{% extends 'finance/base.html' %}

{% block meta_title %} Трансакція {% endblock meta_title %}
{% block title_page %} Трансакція № {{ object.id }} {% endblock title_page %}

{% block content %} 
<table>
  <thead>
	<tr>
	  <td>id Трансакції</td>
	  <td>Сума</td>
	  <td>Валюта</td>
	  <td>Тип</td>
	  <td>Категорія</td>
	  <td>Підкатегорія</td>
	  <td>З рахунку</td>
	  <td>На рахунок</td>
	  <td>Дата створення</td>
	  <td>Місце здійснення</td>
	  <td>Примітки</td>
	</tr>
  </thead>
	  
  <tbody>
	<tr>
	  <td>{{ object.id }}</td>
	  <td>{{ object.amount }}</td>
	  <td>{{ object.currency }}</td>
	  <td>{{ object.type }}</td>
	  <td>{{ object.category }}</td>
	  <td>{{ object.subcategory }}</td>
	  <td>{{ object.from_account }}</td>
	  <td>{{ object.on_account}}</td>
	  <td>{{ object.create_datetime }}</td>
	  <td>{{ object.place }}</td>
	  <td>{{ object.notes }}</td>
	</tr>
  </tbody>
	
</table>

{% endblock content %}