{% extends 'finance/base.html' %}

{% block meta_title %} Список трансакцій за рік {% endblock meta_title %}
{% block title_page %} Список трансакцій за {{ year|date:'Y' }} рік {% endblock title_page %}

{% block content %} 
{% if object_list %}
<table>
  <thead>
	<tr>
	  <td>&#35;</td>
	  <td>Сума</td>
	  <td>Валюта</td>
	  <td>Тип</td>
	  <td>Категорія</td>
	  <td>Підкатегорія</td>
	  <td>З рахунку</td>
	  <td>На рахунок</td>
	  <td>Дата створення</td>
	  <td>Місце здійснення</td>
	  <td>Примітки</td>
	</tr>
  </thead>
	  
  <tbody>
  {% for transaction in object_list %}
	<tr>
	  <td>{{ forloop.counter}}</td>
	  <td>{{ transaction.amount }}</td>
	  <td>{{ transaction.currency }}</td>
	  <td>{{ transaction.trans_type }}</td>
	  <td>{{ transaction.category }}</td>
	  <td>{{ transaction.subcategory }}</td>
	  <td>{{ transaction.from_account }}</td>
	  <td>{{ transaction.on_account}}</td>
	  <td>{{ transaction.create_datetime }}</td>
	  <td>{{ transaction.place }}</td>
	  <td>{{ transaction.notes }}</td>
	</tr>
  {% endfor %}
  </tbody>
	
</table>
{% else %}
  <p>Трансакцій не знайдено.</p>
{% endif %}

{% for month in date_list %}
<ul>
  <li><a href="{% url 'finance:archive_month' month.year month|date:'m' %}">{{ month|date:'N' }}</a></li>
</ul>

{% endfor %}

{% endblock content %}