{% extends 'finance/base.html' %}

{% block meta_title %} Рахунок {% endblock meta_title %}
{% block title_page %} Рахунок {{ object }} {% endblock title_page %}

{% block content %} 
<table>
  <thead>
	<tr>
	  <td>id Рахунку</td>
	  <td>Назва</td>
	  <td>Залишок</td>
	  <td>Валюта рахунку</td>
	  <td>Додаткові відомості</td>
	  <td>Дата створення</td>
	</tr>
  </thead>
	  
  <tbody>
	<tr>
	  <td>{{ object.id }}</td>
	  <td>{{ object.title }}</td>
	  <td>{{ object.amount }}</td>
	  <td>{{ account.currency }}</td>
	  <td>{{ object.notes }}</td>
	  <td>{{ object.create_datetime }}</td>
	</tr>
  </tbody>
	
</table>

{% endblock content %}