{% extends 'finance/base.html' %}

{% block meta_title %} Список рахунків {% endblock meta_title %}
{% block title_page %} Список рахунків {% endblock title_page %}

{% block content %} 
{% if object_list %}
<table>
  <thead>
	<tr>
	  <td>&#35;</td>
	  <td>Назва</td>
	  <td>Залишок</td>
	  <td>Додаткові відомості</td>
	  <td>Дата створення</td>
	  <td>За замовчуванням</td>
	</tr>
  </thead>
	  
  <tbody>
  {% for account in object_list %}
	<tr>
	  <td>{{ forloop.counter}}</td>
	  <td>{{ account.title }}</td>
	  <td>{{ account.amount }}</td>
	  <td>{{ account.notes }}</td>
	  <td>{{ account.create_datetime }}</td>
	  <td>{{ account.is_default }}</td>
	</tr>
  {% endfor %}
  </tbody>
	
</table>
{% else %}
  <p>Рахунків не знайдено.</p>
{% endif %}

{% endblock content %}